  .main{
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 0px 5% 0px 5%;
  }

  .maintitle{             
    padding-bottom: 20px;
    font-size: 25px;
  }
  .mainsubtitle{
    padding-bottom: 20px;
    font-size: 20px;
  }
  
  
  .spannro{                             /*OK*/
    font-weight: bold;
    font-size: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .divopcion{
    padding-bottom: 20px;
  }
  
  
  .mainconfirmed{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    font-family: 'Cabin', sans-serif;
  }

