.footer{                             /*OK*/
    font-family: 'Cabin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #1F497D; */
    width: 100%; 
  }
  