.tableresume{                     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
  
  .cellresume{                 
    background-color: map-get($color, greyColor);
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    width: 100%; /*antes 40%*/
  }
  
  .trresume{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  
  .thresume {
    padding-top: 10px;
  }
  

  .table{      
    @include estilos($textAlign: center, $borderColorTable: map-get($color, greyColor));
  }
  
  .table tr :nth-child(4),tr :nth-child(5) {
    display:none;
  }
  
  .tableanotation{                    
    @include estilos(left,map-get($color, greyColor));
  }
  
  .table.row {                             /*OK*/
    border: 02px solid map-get($color, greyColor);
  }
  
  .th{                             /*OK*/
    padding: 10px;
    width: 15%;
    border-bottom: 1px solid map-get($color, greyColor);
    transition: color 1.5s ease-out;
  }
  
  tr:hover{                             /*OK*/
    background-color: map-get($color, greyColor);
  }

@media screen and (min-width:600px) and (orientation: portrait) {
    
    .table tr :nth-child(4),tr :nth-child(5) {
      display: table-cell;
    }
}

@media screen and (min-width:600px) and (orientation: landscape) {
  
    .table tr :nth-child(4),tr :nth-child(5) {
        display: table-cell;
      }
        
  
  .tableresume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  .trresume{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  
    .navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}