/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import "./partials/grid","./partials/maps","./partials/extends","./partials/mixins","./partials/table","./partials/buttons", "./partials/header","./partials/article","./partials/nav","./partials/footer";
  