/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import"./partials/colors","./partials/grid","./partials/table", "./partials/header","./partials/article","./partials/nav","./partials/footer";
  